<!DOCTYPE html>
<html>
  <head>
    <title>pix</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
      var POTOSJS = {
        conf: {
          zoom: <%= conf.zoom %>
        }
      };
    </script>
    <style>
        .pic { max-width: <%= conf.zoom %>px; }
    </style>
  </head>
  <body>
    <h1 class="collapse">Album
        <span class="path-bc"><a href="/pix?<%= querystring %>">/</a></span>
        <% var pp = '';
          breadcrumbs.forEach(function (p, i) {
            pp = pp + '/' + p;
            var is_target = i == breadcrumbs.length - 1;
            var pathx = is_target ? "path-x" : "path-bc";
            if (i > 0) {%>
              <span class="path-bc">/</span>
            <% } %>
            <span class="<%= pathx %>">
              <% if (is_target) { %>
                <span><%= p %></span>
              <% } else { %>
                <a href="/pix?<%= querystring %>&path=<%= pp %>"><%= p %></a>
              <% } %>
            </span>
        <% }); %>
    </h1>
    <div>
		<p><%= count %> images found</p>
		<div>
			<% files.forEach(function (file) {
              if (file.t == 'dir') { %>
                    <a href="/pix?<%= querystring %>&path=<%= querypath %>/<%= file.n %>"><%= file.n %></a>
                <% } else { %>
				    <img class="pic <%=file.t%>" src="<%= path %>/<%= file.n %>" title="<%=file.n%>" >
                     <!--onerror='this.style.display = "none"'-->
			<% }}); %>
		</div>
	</div>
    <script src="/javascripts/a.js"></script>
  </body>
</html>
