<!DOCTYPE html>
<html>
  <head>
    <title>pix</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <h1>Album <%= querypath %></h1>
    <div>
		<p><%= count %> images found</p>
		<div>
			<% files.forEach(function (file) {
               if (file.t == 'dir') { %>
               <a href="/pix?path=<%=querypath%>/<%=file.n%>"><%= file.n %></a>
            <% } else { %>
		<!--	<img class="<%=file.t%>" src="<%= path %>/<%= file.n %>" width="50px" onerror='this.style.display = "none"'> -->
				<img class="<%=file.t%>" src="<%= path %>/<%= file.n %>" width="50px"'>
			<% }}); %>
		</div>
	</div>
	<script>
		// $(function(){
		// 	$('img.pic').error(function (){ console.log("hiding ", $(this)[0].src); $(this).hide(); });
		// });
	</script>
  </body>
</html>
